@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light !important;
  forced-color-adjust: none !important;
}

@font-face {
  font-family: "Gandom";
  src: url("../../public/fonts/Gandom.eot"),
    url("../../public/fonts/Gandom.woff") format("woff"),
    url("../../public/fonts/Gandom.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#swiper-girl,
#swiper-boy,
#swiper-best,
#swiper-offer,
#swiper-new {
  overflow: visible !important;
}

:root {
  color-scheme: light !important;
}
